.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/
face_generation/face_generation.zip
tv-script-generation/save*
.ipynb_checkpoints/
batch-norm/MNIST_data/
dcgan-svhn/data/

*.pyc
*.p
*.pkl 

*/.floyd*

